body{
    color:blue;
    background:white;
    font-family: "Sevillana", cursive;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgb(42, 122, 228);
}

section{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
img {
    height: 200px;
}
h1 {
    font-size: 40px;
  }.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }
  
  p {
    font-size: 20px;
  }